package {{.apiPackageName}}

import (
	"net/http"

	"{{.modelFQPN}}"
    "{{.daoFQPN}}"

	"github.com/gin-gonic/gin"
	"gopkg.in/guregu/null.v4"
	"github.com/julienschmidt/httprouter"
)

var (
    _ = null.Bool{}
)

func config{{.StructName}}Router(router *httprouter.Router) {
	router.GET("{{.apiPrefix}}/{{.StructName | pluralize | toLower}}", GetAll{{.StructName | pluralize}})
	router.POST("{{.apiPrefix}}/{{.StructName | toLower}}", Add{{.StructName}})
	router.GET("{{.apiPrefix}}/{{.StructName | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", Get{{.StructName}})
	router.PUT("{{.apiPrefix}}/{{.StructName | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", Update{{.StructName}})
	router.DELETE("{{.apiPrefix}}/{{.StructName | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", Delete{{.StructName}})
}

func configGin{{.StructName}}Router(router gin.IRoutes) {
	router.GET("{{.apiPrefix}}/{{.StructName | pluralize | toLower}}", ConverHttprouterToGin(GetAll{{.StructName | pluralize}}))
	router.POST("{{.apiPrefix}}/{{.StructName | toLower}}", ConverHttprouterToGin(Add{{.StructName}}))
	router.GET("{{.apiPrefix}}/{{.StructName | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Get{{.StructName}}))
	router.PUT("{{.apiPrefix}}/{{.StructName | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Update{{.StructName}}))
	router.DELETE("{{.apiPrefix}}/{{.StructName | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Delete{{.StructName}}))
}

{{template "api_getall.go.tmpl" .}}
{{template "api_get.go.tmpl" .}}
{{template "api_add.go.tmpl" .}}
{{template "api_update.go.tmpl" .}}
{{template "api_delete.go.tmpl" .}}
