package {{.apiPackageName}}

import (
    "fmt"
    "net/http"

    "github.com/ACPMFrance/crm-api/api_utils"
    "{{.modelFQPN}}"
    "{{.daoFQPN}}"

    "github.com/gin-gonic/gin"
    "gopkg.in/guregu/null.v4"
    "github.com/julienschmidt/httprouter"
)

var (
    _ = null.Bool{}
)

func configGin{{.StructName}}Router(router gin.IRoutes) {
    router.GET("{{.apiPrefix}}/list/{{.TableName | pluralize | toLower}}", ConverHttprouterToGin(GetAll{{.StructName | pluralize}}))
    router.GET("{{.apiPrefix}}/entity/{{.TableName | singular | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Get{{.StructName}}))
    {{ if or (eq .TableName "mailing_lists") (eq .TableName "media") (eq .TableName "services") (eq .TableName "contacts") (eq .TableName "businesses") }}
    router.GET("{{.apiPrefix}}/list/{{.TableName | singular | toLower}}/:argID/:linkID", ConverHttprouterToGin(Get{{.StructName}}LinkedEntities))
    {{end}}
    {{/*
    router.POST("{{.apiPrefix}}/entity/{{.TableName | singular | toLower}}", ConverHttprouterToGin(Add{{.StructName}}))
    router.PUT("{{.apiPrefix}}/entity/{{.TableName | singular | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Update{{.StructName}}))
    router.DELETE("{{.apiPrefix}}/entity/{{.TableName | singular | toLower}}{{range $field := .TableInfo.CodeFields}}{{ if $field.PrimaryKeyArgName}}/:{{$field.PrimaryKeyArgName}}{{end}}{{end -}}", ConverHttprouterToGin(Delete{{.StructName}}))
    */}}
}

{{template "api_getall.go.tmpl" .}}
{{template "api_get_linked_entities.go.tmpl" .}}
{{template "api_get.go.tmpl" .}}
{{/*
{{template "api_add.go.tmpl" .}}
{{template "api_update.go.tmpl" .}}
{{template "api_delete.go.tmpl" .}}
*/}}